.pschange{
    display: flex;
    align-items: center;
    justify-content: center;

}
.pschange .container{
    width: 450px;
    height: 300px;
    margin-top:100px ;
    border-radius: 30px;
    background-color: rgb(150, 178, 185);
    padding: 20px;

}
.pschange .container h2{
    text-align: center;
    color: brown;
}
.pschange .container button{
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
    background-color: green;
    margin: 20px auto;
    width: 100%;
}